h1, h2{
	margin: 0;
	position: 0;
}


header {
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(1.jpg);
	height: 150vh;
	background-size: cover;
	background-position: center;
}
.title{
/*	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%,-50%);*/

	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;

}
.title h1{
	color: 	#FFFF00;
	font-size: 90px;
	font-family: "Lucida Console", "Courier New", monospace;
}


ul{
	float: right;
	list-style-type: none;
	margin-top: 0px;

}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration-style: none;
	color:#FFFF00;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color:#FFFF00;
	color: #000;
}

ul li.active a{
	background-color:	#FFFF00;
	color: #000;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0px;
  position: absolute; 
  top: 60;
  left: 60;
}

.subtitle{
	margin-top: 80px;
}
.subtitle *{
	text-align: center;
}
.img_3{
	height: 650px;
	display: flex;
justify-content: center;
position: relative;}

.img_3 img{
	width: 30%;
	height: auto;
  
}

.img_3-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3D(-50%, -50%, 0);
	z-index: 10;
/*		top: 20%;
	left: 50%;
	transform: translate(-50%,-50%);*/
}

